.container {
  margin-top: 70px;
}

.game {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-details {
  width: 75%;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: 0px 20px 20px 0;
}

.game-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 0px 20px 20px 0;
}

.game-banner__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.game-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.9));
  border-radius: 0px 20px 20px 0;
  z-index: 2;
}

.game-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.game-detail {
  width: 93%;
  position: absolute;
  left: 3%;
  bottom: 5%;
}

.game-detail__genres {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .2rem 1rem;
}

.game-detail__genres .genre {
  text-transform: uppercase;
  font-size: .9rem;
  padding: 0;
  font-weight: 600;
  color: rgb(200, 200, 200);
}

.game-detail__genres .genre-separator {
  width: 5px;
  height: 12px;
  background-color: var(--clr-lgtblue);
  border-radius: 10%;
}

.game-detail__title {
  font-size: 3rem;
  font-weight: 700;
}

.game-detail__information {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  gap: 2rem;
}

.game-detail__information .rating {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
}

/* .game-detail__information .year {
} */

.game-detail__description {
  border-left: 3px solid var(--clr-lgtblue);
  padding-left: 1rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 8px;
}

.game-detail__platforms {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .3rem;
  margin-bottom: 8px;
}

.game-detail__platforms span {
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px var(--clr-lgtblue);
  color: rgb(220, 220, 220);
}

.game-detail__metacritic {
  width: max-content;
}

.game-detail__metacritic a {
  color: rgb(220, 220, 220);
}

.game-detail__metacritic:hover a {
  border-bottom: var(--clr-lgtblue) solid 1px;
}

.play-game {
  position: absolute;
  bottom: 60%;
  right: 10%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.play-game__link {
  background: rgb(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.play-game__icon {
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  font-size: 5vmax;
}

.play-game__link:hover,
.play-game__link:active {
  background: linear-gradient(45deg, var(--clr-lgtblue) 1%, rgba(200, 0, 255, 0.983) 99%);
}

.play-game > p {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.scene-screenshots {
  width: 23%;
  gap: .4rem;
  display: flex;
  flex-direction: column;
  aspect-ratio: 50/13;
  z-index: 10;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}

.scene-screenshots p {
  margin: .5rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.screenshots {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.screenshots::-webkit-scrollbar {
  display: none;
}

.screenshot {
  width: 100%;
  aspect-ratio: 8/5;
  object-fit: cover;
  object-position: center;
}

.game-trailers {
  margin: 30px 0;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.game-trailers p {
  margin: 1rem 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.trailers {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.trailer {
  width: 49%;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
}


/* Suggested games */
.games-suggested {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.games-suggested__header {
  margin: 1rem 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.suggested {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.underline {
  position: relative;
  width: max-content;
}

.underline::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--clr-lgtblue);
  position: absolute;
  left: 0;
  bottom: -2.5px;
  border-radius: 50%;
}
