<div class="container">
  <div class="top flex">
    <a class="brand-logo" routerLink="/">Onile</a>

    <ul class="categories flex">
      <li><a routerLink="browse" routerLinkActive="active">Browse</a></li>
      <li><a routerLink="chat" routerLinkActive="active">Chat</a></li>
      <li><a routerLink="notif" routerLinkActive="active">Notifications</a></li>
    </ul>

    <div class="dev flex">
      <p>Built by Muili Kazeem. Reach me:</p>
      <ul class="dev-contact flex">
        <li><a href=""><img src="../../../assets/003-twitter.png" alt="twitter"></a></li>
        <li><a href=""><img src="../../../assets/002-instagram.png" alt="instagram"></a></li>
        <li><a href=""><img src="../../../assets/005-github.png" alt="github"></a></li>
      </ul>
    </div>
  </div>

  <p class="bottom">
    Onile {{  year }}. All rights reserved.
  </p>
</div>
