.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-display {
  width: 55%;
  text-transform: uppercase;
  font-family: var(--ff-body);
}

/* .gamepad {
  border: solid 3px yellow;
} */

.intro-display__RAWG {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--clr-lgtblue);
  font-family: var(--ff-primary);
}

.intro-display__RAWG span {
  color: var(--clr-lemon);
}

.intro-display h2 {
  margin: 10px 0;
  width: 100%;
  font-size: max(6rem, calc(7vmax + 1rem));
  line-height: 1;
  letter-spacing: 2px;
  font-family: var(--ff-primary);
}

.intro-display .paragraph {
  text-transform: initial;
  width: 100%;
  font-size: max(.8rem, 1vmax + .2rem);
  font-weight: 500;
  color: var(--clr-lgtwht);
}


@media (max-width: 800px) {
  .intro-display {
    width: 85%;
  }

  .intro-display__RAWG {
    font-size: .9rem;
  }

  .intro-display h2 {
    margin: 10px 0;
    font-size: max(3rem, 2vw + 2.9rem);
  }

  .intro-display .paragraph {
    font-size: max(.9rem, 1vw + .5rem);
  }
}
