<div class="container" *ngIf="gameGenres">
  <ng-container *ngFor="let genre of gameGenres">
    <div>
      <h2 class="underline"> {{ genre.name }} </h2>
      <div class="genre-container">
        <app-game-genre-comp *ngFor="let game of genre.games" [gameId]="game.id"></app-game-genre-comp>
      </div>
    </div>
  </ng-container>
</div>

<!-- <div class="container">
  <div>
    <h2 class="underline"> Action </h2>
    <div class="genre-container">
      <app-game-genre-comp></app-game-genre-comp>
      <app-game-genre-comp></app-game-genre-comp>
      <app-game-genre-comp></app-game-genre-comp>
      <app-game-genre-comp></app-game-genre-comp>
      <app-game-genre-comp></app-game-genre-comp>
      <app-game-genre-comp></app-game-genre-comp>
    </div>
  </div>
  <div>
    <h2 class="underline"> Action </h2>
    <div class="genre-container">
      <app-game-genre-comp></app-game-genre-comp>
      <app-game-genre-comp></app-game-genre-comp>
      <app-game-genre-comp></app-game-genre-comp>
    </div>
  </div>
</div> -->
