.games {
  width: 100%;
}

.game {
  background-color: initial;
  width: 100%;
  padding: .6% .6%;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  clip-path: polygon(0 0, 55% 0, 57% 5%, 100% 5%, 100% 95%, 57% 95%, 55% 100%, 0 100%);
}

.game:active.game::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr-lgtblue);
  z-index: -5;
}

.game:active {
  transform: translateY(-3px);
}

.game:hover.game::before {
  content: "";
  width: 130%;
  height: 50%;
  position: absolute;
  background: linear-gradient( 90deg, var(--clr-lgtblue), var(--clr-hvrblue));
  animation: spin 6s linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.game-thumb__container {
  position: relative;
  background: var(--clr-lgtblk2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  clip-path: polygon(0 0, 55% 0, 57% 5%, 100% 5%, 100% 95%, 57% 95%, 55% 100%, 0 100%);
  z-index: 4;
}

.game-thumbnail {
  border-radius: 0;
  width: 50%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.game-description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding: 20px 0;
}

.game-genres {
  flex-wrap: wrap;
  display: flex;
  gap: .1rem .8rem;
  text-transform: uppercase;
}

.game-genres p {
  font-size: .8rem;
  font-weight: 600;
  color: var(--clr-lgtwht);
}

.game-name {
  font-size: max(1.8rem, 2.3vw);
  letter-spacing: .5px;
  line-height: 1;
  font-weight: 600;
  margin: .6rem 0;
  margin-bottom: 1rem;
}

.game-platforms {
  margin-left: .5rem;
  display: flex;
  flex-wrap: wrap;
}

.game-platforms img {
  background: var(--clr-drkblk);
  margin-left: -.5rem;
  width: 25px;
  aspect-ratio: 1;
  padding: 5px;
  border: 1px solid var(--clr-lgtwht);
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}


/* Responsive Design */
@media (max-width: 800px) {
  .game {
    margin-bottom: 10px;
    clip-path: polygon(0 0, 55% 0, 57% 5%, 100% 5%, 100% 95%, 57% 95%, 55% 100%, 0 100%);
  }

  .game-thumb__container {
    gap: .9rem;
  }

  .game-thumbnail {
    width: 45%;
  }

  .game-description {
    padding: 20px 0;
    width: 50%;
    margin: 10px 0;
  }

  .game-genres {
    gap: .5rem;
  }

  .game-genres p {
    font-size: .7rem;
    font-weight: 500;
  }

  .game-name {
    font-size: max(1.3rem, 2.3vw);
    margin: .5rem 0;
  }

  .game-platforms img {
    margin-left: -.4rem;
    width: 20px;
  }

}
